body {
    margin: 0px;
}
 
.form-signup, .form-signin {
    width: 400px;
    margin: 0 auto;
}

.icon-padding{
    
    padding-right:10px;
    
}

.body-hight{
    
   height: 490px; 
    
}


.form-paddind{
    
   padding-top: 100px; 
    
    
}

.customer_style { display: none; }




/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Visualquotes CSS Starts
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.sidebar-header img.brand {
    margin-top: 5px;
}

.margin-top-2
{
        margin-top: 2px;
        margin-bottom: 2px;
}

.margin-top-5
{
        margin-top: 5px;
        margin-bottom: 5px;
}

.margin-top-10
{
        margin-top: 10px;
}

.margin-top-20
{
        margin-top: 20px;
}

.margin-top-30
{
        margin-top: 30px;
}

.margin-bottom-5
{
        margin-bottom: 5px;
}

.margin-bottom-10
{
        margin-bottom: 10px;
}
.margin-bottom-20
{
        margin-bottom: 20px;
}


.margin-left-2
{
        margin-left: 2px;
}

.margin-left-5
{
        margin-left: 5px;
}
.margin-left-10
{
        margin-left: 10px;
}

.margin-left-20
{
        margin-left: 20px;
}


.margin-right-2
{
        margin-right: 2px;
}

.margin-right-5
{
        margin-right: 5px;
}
.margin-right-10
{
        margin-right: 10px;
}

.margin-right-20
{
        margin-right: 20px;
}




.no-padding-bottom {
        padding-bottom: 0!important;
}

.padding-2 {
        padding: 2px!important;
}

.padding-5 {
        padding: 5px!important;
}

.padding-7 {
        padding: 7px!important;
}

.padding-10 {
        padding: 10px !important;
}

.padding-20 {
        padding: 20px !important;
}

.padding-30 {
        padding: 30px !important;
}

.padding-top-2
{
        padding-top: 2px;
        padding-bottom: 2px;
}

.padding-top-5
{
        padding-top: 5px;
        padding-bottom: 5px;
}

.padding-left-2
{
        padding: 0 0 0 2px;
}

.padding-right-2
{
         padding: 0 2px 0 0;
}

.padding-right-5
{
        padding: 0 5px 0 0;
}

.padding-left-5
{
        padding: 0 0 0 5px;
}

.padding-right-10
{
        padding: 0 10px 0 0;
}

.padding-left-10
{
        padding: 0 0 0 10px;
}

.padding-right-20
{
        padding: 0 20px 0 0;
}


.padding-left-20
{
        padding: 0 0 0 20px;
}
.padding-left-30
{
        padding: 0 0 0 30px;
}

.padding-left-right-5
{
        padding: 0 5px !important;
}

.padding-left-right-10
{
        padding: 0 10px;
}

.padding-left-right-30
{
        padding: 0 30px;
}


.padding-gutter {
        padding: 13px !important;
}

.padding-top-10 {
        padding-top: 10px !important;
}

.padding-top-15 {
        padding-top: 15px !important;
}
.padding-top-20 {
        padding-top: 20px !important;
}
.padding-top-30 {
        padding-top: 30px !important;
}
.padding-top-35 {
        padding-top: 35px !important;
}

.padding-bottom-10 {
        padding-bottom: 10px!important;
}

.content-after-20
{
        margin-bottom: 20px !important;
}

.content-before-20
{
        margin-top: 20px !important;
}

.content-after-40
{
        margin-bottom: 40px !important;
}


.content-before-40
{
        margin-top: 40px !important;
}

.content-after
{
        margin-bottom: 80px;
}


.content-before
{
        margin-top: 80px 
}


.content-before-120
{
        margin-top: 120px;
}

.content-after-120
{
        margin-bottom: 120px;
}

.content-before-140
{
        margin-top: 140px ;
}

.content-after-140
{
        margin-bottom: 140px;
}

.content-before-150
{
        margin-top: 150px ;
}

.content-after-150
{
        margin-bottom: 150px;
}





.block-white {
    background: #fff !important;
    color: #808080;
}

.block-green {
    background: #8BD733 !important;
}

.block-lightgray {
    background: #DADADA !important;
}
.block-darkgray {
    background: #666666 !important;
}
.block-gray {
    background: #E8E8E8 !important;
}

.block-darkblue {
    background: #072B52 !important;
}

.block-blue {
    background: #9DCAEF !important;
}

.block-lightblue {
    background: #ECF3F8 !important;
    color: #535154 !important;
}


.block-skyblue {
    background: #1B9FFE !important;
}

.block-bright-orange{
        background: #ff8c00;
        background-image: -webkit-linear-gradient(top, #ff8c00, #b80000);
        background-image: -moz-linear-gradient(top, #ff8c00, #b80000);
        background-image: -ms-linear-gradient(top, #ff8c00, #b80000);
        background-image: -o-linear-gradient(top, #ff8c00, #b80000);
        background-image: linear-gradient(to bottom, #ff8c00, #b80000);
        -webkit-border-radius: 10;
        -moz-border-radius: 10;
        border-radius: 10px;
        text-shadow: 1px 1px 3px #666666;
        -webkit-box-shadow: 0px 1px 3px #666666;
        -moz-box-shadow: 0px 1px 3px #666666;
        box-shadow: 0px 1px 3px #666666;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
}

.block-lavender{
        background: #CFBFFF !important;
}


.block-orange {
        background: #ff8c00 !important;
        color: #FFF;
}

.block-darkorange {
        background: #F14000 !important;
        color: #FFF;
}

.block-darkgreen {
        background: #3E8307 !important;
        color: #FFF;
}

.block-lightgray {
        background: #F0F0F0 !important;
        color: #000;
}

.border-left-gray
{
        border-left:1px solid #F0F0F0;  
}
.border-right-gray
{
        border-right:1px solid #F0F0F0;  
}

.border-green {
        border:2px solid #8BD733;
}


.border-darkblue {
        border:2px solid #072B52;
}

.border-blue {
        border:2px solid #1B9FFE;
}
.border-gray {
        border:2px solid #F0F0F0;
}


.border-orange {
    border:2px solid #ff8c00;
}

.border-darkorange {
    border:2px solid #F14000;
}

.border-darkgreen {
    border:2px solid #3E8307;
}

.hr3px {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border: 0 !important;
    border-top: 1px solid #eee !important;
    box-sizing: content-box;
    height: 0;
    width: 100%;
    float: left;
}


.block-h1-white, .block-h1-green, .block-h1-blue, .block-h1-darkblue, .block-h1-orange, .block-h1-darkorange, .block-h1-darkgreen, .block-h1-gray, .block-h1-ligthgray, .block-h1-darkgray {
    font-size: 40pt;
    margin: 5px;
}

.block-h2-white, .block-h2-green, .block-h2-blue, .block-h2-darkblue, .block-h2-orange, .block-h2-darkorange, .block-h2-darkgreen, .block-h2-gray, .block-h2-darkgray, .block-h2-lightgray  {
    font-size: 20pt;
}
.block-h3-white, .block-h3-green, .block-h3-blue, .block-h3-darkblue, .block-h3-orange, .block-h3-darkorange, .block-h3-darkgreen, .block-h3-gray, .block-h3-darkgray, .block-h3-lightgray {
    font-size: 16pt;
    margin: 5px;
}

.block-h4-white, .block-h4-green, .block-h4-blue, .block-h4-darkblue, .block-h4-orange, .block-h4-darkorange, .block-h4-darkgreen, .block-h4-gray, .block-h4-lightgray, .block-h4-darkgray {
    font-size: 14pt;
    margin: 5px;
}

.block-h5-white, .block-h5-green, .block-h5-blue, .block-h5-darkblue, .block-h5-orange, .block-h5-darkorange, .block-h5-darkgreen, .block-h5-gray, .block-h5-lightgray,  .block-h5-darkgray {
    font-size: 12pt;
}


.block-h1-white-left, .block-h1-green-left, .block-h1-blue-left-left, .block-h1-darkblue-left, .block-h1-orange-left, .block-h1-darkorange-left, .block-h1-darkgreen-left, .block-h1-gray-left, .block-h1-darkgray-left {
    font-size: 40pt;
}

.block-h2-white-left, .block-h2-green-left, .block-h2-blue-left, .block-h2-darkblue-left, .block-h2-orange-left, .block-h2-darkorange-left, .block-h2-darkgreen-left, .block-h2-gray-left, .block-h2-darkgray-left  {
    font-size: 20pt;
}
.block-h3-white-left, .block-h3-green-left, .block-h3-blue-left, .block-h3-darkblue-left, .block-h3-orange-left, .block-h3-darkorange-left, .block-h3-darkgreen-left, .block-h3-gray-left, .block-h3-darkgray-left {
    font-size: 16pt;
    margin: 5px;
}

.block-h4-white-left, .block-h4-green-left, .block-h4-blue-left, .block-h4-darkblue-left, .block-h4-orange-left, .block-h4-darkorange-left, .block-h4-darkgreen-left, .block-h4-gray-left, .block-h4-darkgray-left {
    font-size: 14pt;
    margin: 5px;

}

.block-h5-white-left, .block-h5-green-left, .block-h5-blue-left, .block-h5-darkblue-left, .block-h5-orange-left, .block-h5-darkorange-left, .block-h5-darkgreen-left, .block-h5-gray-left, .block-h5-darkgray-left {
    font-size: 12pt;
    margin: 5px;
}

.size-11
{
    font-size: 11pt;
}
.size-12
{
    font-size: 12pt;
}
.size-14
{
    font-size: 14pt;
}
.size-16
{
    font-size: 16pt;
}

.bold
{
       font-weight: bold;
}

.bold-400
{
        font-weight: 400;
}


.block-span-gray, .block-h1-gray, .block-h2-gray, .block-h3-gray, .block-h4-gray, .block-h5-gray, .block-p-gray
{
    color: #808080;
}

.block-span-lightgray, .block-h1-lightgray, .block-h2-lightgray, .block-h3-lightgray, .block-h4-lightgray, .block-h5-lightgray, .block-p-lightgray
{
    color: #DFDFDF;
}

.block-span-white, .block-h1-white, .block-h2-white, .block-h3-white, .block-h4-white, .block-h5-white, .block-p-white
{
    color: #fff;
}


.block-span-green, .block-h1-green, .block-h2-green, .block-h3-green, .block-h4-green, .block-h5-green, .block-p-green
{
    color: #8BD733;
}


.block-span-blue, .block-h1-blue, .block-h2-blue, .block-h3-blue, .block-h4-blue, .block-h5-blue, .block-p-blue
{
    color: #1B9FFE;
}


.block-span-darkblue, .block-h1-darkblue, .block-h2-darkblue, .block-h3-darkblue, .block-h4-darkblue, .block-h5-darkblue, .block-p-darkblue
{
    color: #072B52;
}


.block-span-orange, .block-h1-orange, .block-h2-orange, .block-h3-orange, .block-h4-orange, .block-h5-orange, .block-p-orange
{
    color: #ff8c00;
}


.block-span-darkorange, .block-h1-darkorange, .block-h2-darkorange, .block-h3-darkorange, .block-h4-darkorange, .block-h5-darkorange, .block-p-darkorange
{
    color: #F14000;
}

.block-span-darkgreen, .block-h1-darkgreen, .block-h2-darkgreen, .block-h3-darkgreen, .block-h4-darkgreen, .block-h5-darkgreen, .block-p-darkgreen
{
    color: #3E8307;
}


.block-span-darkgray, .block-h1-darkgray, .block-h2-darkgray, .block-h3-darkgray, .block-h4-darkgray, .block-h5-darkgray, .block-p-darkgray
{
    color: #414141;
}

.block-span-normal, .block-p-normal
{
    font-size:10pt;
}

.block-span-bold , .block-p-bold
{
    font-size:10pt;
    font-weight:bold
}

.text-center-bold
{
    float: left;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.text-right-bold
{
    float: left;
    text-align: right;
    width: 100%;
    font-weight: bold;
}

.text-left-bold
{
    float: left;
    text-align: left;
    width: 100%;
    font-weight: bold;
}


.text-center-normal
{
    float: left;
    text-align: center;
    width: 100%;
}

.text-right-normal
{
    float: left;
    text-align: right;
    width: 100%;
}

.text-left-normal
{
    float: left;
    text-align: left;
    width: 100%;
}

.text-align-center
{
    text-align: center;
}
.text-align-left
{
    text-align: left;
}
.text-align-right
{
    text-align: right;
}


.text-align-center-bold
{
    text-align: center;
    font-weight: bold;
}
.text-align-left-bold
{
    text-align: left;
    font-weight: bold;
}
.text-align-right-bold
{
        text-align: right;
        font-weight: bold;
}

.center {
        text-align: center;
}

.textLeft {
        text-align: left;
}


.textRight {
        text-align: right;
}

.color-red{
        color:#FF7272;
}
.color-green{
        color:greenyellow;
}
.color-orange{
        color:orangered;
}
.color-gray{
        color:gray;
}

.color-white
{
        color:#fff;
}


.tableProductByName
{
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}


.dash_btn_click
{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
}

.dash_btn_click:hover
{
    background: rgba(0, 0, 0, 0.5);
}

.widget-3:after{
    background-image: url("../assets/img/social/transfer.png");
}

.widget-4:after{
    background-image: url("../assets/img/social/hold.gif");
        left: -35px;
}

.widget-5:after{
    background-image: url("../assets/img/social/notify.png");
}


td.status_Incoming {
    color: #49DCAF;
    font-weight: bold;
}

td.status_On.Hold {
    color: #000000;
    font-weight: bold;
}
td.status_OutGoing {
    color: #FF919A;
    font-weight: bold;
}

td.status_Expired {
    color: #FF0013;
    font-weight: bold;
}

td.status_Expiring {
    color: #FF0013;
    font-weight: bold;
}

td.status_Pending {
    color: #FFC333;
    font-weight: bold;
}

td.status_Send {
    color: #00C0FF;
    font-weight: bold;
}


td.expiring_3{
    color: #FF0013;
    font-weight: bold;
}

a#user_feedback_open 
{
    position: fixed;
    right: 0;
    bottom: 0;
    background: #000;
    padding: 12px 14px;
    border-radius: 100% 100% 0 0;
    opacity: 0.6;
    color: #FFF;
    font-size: 10pt;
    font-weight: bold;
    font-weight: bold;
}

.user_feedback_popup 
{
    width: 100%;
    padding: 10px;
}

.vq_lightbox {
    width: 100%;
    float: left;
    background: #FFF;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.vq_lightbox_box textarea {
    width: 100%;
    height: 80px;
}

.user_feedback_popup {
    width: 100%;
    padding: 10px;
}

.vq_lightbox h2 {
    text-align: center;
    border-bottom: 2px solid #10CFBD;
    padding: 10px;
    color: #10CFBD;
}

.vq_lightbox label {
    margin-top: 20px;
}
.vq_lightbox .btn {
    margin-top: 10px;
    margin-bottom: 20px;
    float: right;
}

div.upload {
    width: 157px;
    height: 57px;
    background: url('../assets/img/screenshot.png');
    overflow: hidden;
    margin: 0 auto;
}

div.upload input {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}


.error_location {
    background: #F97171;
    color: white;
    padding: 5px;
    text-align: center;
}


.header-inner {
    background: rgba(0, 0, 0, 0) url("../assets/img/header.png") no-repeat scroll center center / cover;
    padding: 50px 0;
}

.site-headding {
    margin: 50px 0;
}

.headding {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 50px;
    margin-bottom: 50px;
}

.c-white {
    color: #fff;
}

.theme-color{
    color: #6BBFD0;
}